.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.pokedex {
  background-color: #bb3517;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
}


.pokemondetails{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.buttonconfig {
  cursor: pointer;
  color: #fff;
  width: 85px;
  height: 30px;
  background: #e3350c;
  border: 0;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color 0.2s;

}  

.buttonimg {
    margin-left: 5px;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.inputconfig {
  height: 50px;
  font-size: 1.2em;
  padding: 0 24px;
  border-radius: 5px 0 0 5px;
  color: #3a3a3a;
  border-right: 0;
}

.inputstyle{
  height: 25px;
  text-align: center;
  
}

.avatarimg {
  height: 230px;
  width: 230px;
}